@import './reset.css';
@import './fonts.css';
@import './container.css';
@import './utils.css';
@import './animation.css';

:root {
  --bs-c-primary: #403432;
  --bc-c-color-1: #343030;
  --bc-c-absolute-white: #fff;
  --font-primary: 'Merriweather', sans-serif;
  font-size: 14px;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}